<template>
  <v-app>
    <Navbar />
    <v-content
      dark
      class="px-4 pb-4 darken-4"
      style="background-color: #142541;"
    >
      <transition name="router-anim">
        <router-view> </router-view>
      </transition>
    </v-content>
  </v-app>
</template>

<script>
// import HelloWorld from './components/HelloWorld';
import Navbar from '@/components/Navbar.vue';

export default {
  name: 'App',

  components: {
    Navbar,
  },

  data: () => ({
    //
  }),
};
</script>
